<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/categories_btn.css" />
  </head>

    <body>
        <div class="buttons">
        
            <button class="menu_b">
              <img src="../icons/rising.svg" alt="rising" />Rising
            </button>
    
            <a href="/categorias" class="menu_b">
              <img src="../icons/categories.svg" alt="rising" />Categories
            </a>
    
          </div>

        <script src="./scripts/header.js"></script>
    </body>
</html>
