<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/categories_btn.css" />
  </head>

  <body>
    <div class="buttons">
      <a href="/" class="menu_b">
        <img src="../icons/rising.svg" alt="rising" />Rising
      </a>

      <a href="/categories" class="menu_b">
        <img src="../icons/categories.svg" alt="rising" />Categories
      </a>
    </div>
  </body>
</html>
