<html lang="en">
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/sobre">Sobre Nós</a></li>
          <li><a href="/contato">Entre em Contato</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
