<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
  </head>

  <body>
    <header>
      <img class="logo" src="../icons/logo.svg" alt="logo" />

      <div class="menu">
        <form class="search-container" id="searchForm">
          <button type="submit" class="search-button">
            <img src="../icons/search.svg" alt="search" />
          </button>
          <input
            type="text"
            placeholder="Search"
            name="value"
            class="search-input"
          />
        </form>

        <% if (user.isLoggedIn) { %>
        <nav>
          <ul>
            <li><a href="/">Explore</a></li>
            <% if (user.type === 0) { %>
            <li><a href="/publish">Publish</a></li>
            <% } %>
            <li><a href="/profile/<%= user.id %>">My Profile</a></li>
            <li><a href="#">Exit</a></li>
          </ul>
        </nav>
        <% } else { %>
        <nav>
          <ul>
            <li><a href="/">Explore</a></li>
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Sign up</a></li>
          </ul>
        </nav>
        <% } %>
      </div>
    </header>

    <script src="../scripts/header.js"></script>
  </body>
</html>
