<html lang="en">
  <body>
    <header class="login_container">
      <h2 class="login_text">This Site</h2>
      <nav class="navigation">
        <a href="/">Explore</a>
      </nav>
    </header>
  </body>
</html>
