<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UFC - Web</title>
    <link rel="stylesheet" type="text/css" href="./styles/adm-login.css" />
    <link rel="stylesheet" type="text/css" href="./styles/login-box.css" />
  </head>

  <body>
    <main>
      <div class="wrapper">
        <label class="login_label">Login</label>
        <form action="#">
          <div class="input-box">
            <!-- <span class="icon"> </span> -->
            <input type="text" required />
            <label>Email</label>
          </div>

          <div class="input-box">
            <!-- <span class="icon"> </span> -->
            <input type="password" required />
            <label>Password</label>
          </div>
          <button type="submit" class="login_btn">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
