<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UFC - Web</title>
    <link rel="stylesheet" type="text/css" href="./styles/login.css" />
    <link rel="stylesheet" type="text/css" href="./styles/login-box.css" />
  </head>

  <body>
    <%- include('components/LoginHeader') %>

    <main>
      <div class="wrapper">
        <div class="form-login">
          <div class="sign_up_screen">
            <h2>Sign Up</h2>
            <nav class="new_login">
              <label><br />Already have a account ?</label>
              <a href="/login">Sign in now</a>
            </nav>

            <form action="#">
              <div class="input-box">
                <span class="icon"> </span>
                <input type="text" required />
                <label>Email</label>
              </div>

              <div class="input-box">
                <span class="icon"> </span>
                <input type="password" required />
                <label>Password</label>
              </div>

              <div class="input-box">
                <span class="icon"> </span>
                <input type="password" required />
                <label>Repeat Password</label>
              </div>
              <button type="submit" class="login_btn" id="signUp_btn">
                Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
      <img class="background_img" src="./images/background-login.png" />
    </main>
  </body>
</html>
