@import url("global.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* style="width: 600px; height: 750px; object-fit: none;object-position: 45% 20%; margin-top: 100px;" */
body {
  display: flex;
  flex-direction: row;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* // #140726;  */
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  /* align-items: center;  */
  z-index: 2;
}
div.wrapper {
  z-index: 3;
  position: fixed;
  top: 35vh;
  left: 15vw;
  color: aliceblue;
  align-items: center;
  /* display: center; */
}

.wrapper.active .form-login .login_screen {
  display: none;
}
.wrapper .form-login .login_screen {
  display: block;
}

.wrapper.active .form-login .sign_up_screen {
  display: block;
}
.wrapper .form-login .sign_up_screen {
  display: none;
}

.sel_type.active .sel_type {
  display: block;
}
.sel_type.active .form-login {
  display: none;
}
.sel_type .form-login {
  display: block;
}
.sel_type {
  display: none;
}

.login_container {
  background-color: #140726;
  height: 100vh;
  width: 50vw;
}

.login_text {
  font-size: 2em;
  color: #faebebf6;
  user-select: none;
}

.new_user a {
  color: #00f0ff;
}
.new_login a {
  color: #00f0ff;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #faebebf6;
  font-weight: 500;
  text-decoration: none;
}
.sel_type_btn {
  display: flex;
  flex-direction: column;
}
.photografer_type_btn {
  width: 15vw;
  margin: 15px;
  height: 23vh;
  border-radius: 7%;

  background-color: #3866f2;
  /* background-image: url(); */

  font-weight: 900;
  font-size: medium;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.account_type_label {
  font-weight: 500;
  font-size: 1.3em;
}
.background_img {
  position: absolute;
  right: 0%;
  width: 50vw;
  height: 100vh;
  object-fit: none;
  object-position: 40% 25%;
}
