@import url("global.css");

main {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--slate-dark-3);
  background-size: 100%;
  width: 100%;
  padding-bottom: 200px;
  gap: 50px;
}

#header {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100vh;
  gap: 20px;
}

.menu_b {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgba(167, 173, 198, 0.15);
  color: var(--slate-light-1);
  font-weight: bold;
}

.menu_b:hover {
  background-color: rgba(167, 173, 198, 0.4);
}

.images {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5%;
}

.image {
  display: flex;
  background-size: contain;
  border-radius: 8px;
  transition: all;
  transition-duration: 100ms;
}

.image:hover {
  transform: scale(110%);
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 150px;
  }

  #header {
    height: 96px;
  }

  .buttons {
    justify-content: left;
  }

  .images {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .image {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  main {
    padding-top: 250px;
  }

  #header {
    height: 200px;
  }

  .buttons {
    justify-content: center;
  }

  .images {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .image {
    width: 75%;
  }
}
