<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="../../styles/login-box.css" />
  </head>

  <body>
    <form action="#">
      <div class="input-box">
        <!-- <span class="icon"> </span> -->
        <input type="text" required />
        <label>Email</label>
      </div>

      <div class="input-box">
        <!-- <span class="icon"> </span> -->
        <input type="password" required />
        <label>Password</label>
      </div>
      <button type="submit" class="login_btn">Login</button>
    </form>
  </body>
</html>
