<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
  </head>

  <body>
    <header>
      <img src="../images/logo.svg" alt="logo" />

      <div class="menu">
        <form action="/search" class="search-container">
          <button type="submit" class="search-button">
            <img src="../images/search.svg" alt="search" />
          </button>
          <input
            type="text"
            placeholder="Search"
            name="search"
            class="search-input"
          />
        </form>

        <nav>
          <ul>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
