<html lang="en">
  <body>
    <main>
      <h1>Página sobre</h1>
      <form action="/search" method="post">
        <label for="query">Buscar:</label>
        <input type="text" id="query" name="query" required />
        <button type="submit">Pesquisar</button>
      </form>
    </main>
  </body>
</html>
