<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/buy.css" />
  </head>

  <body>
    <div class="container wrapper">
      <img
        class="image"
        src="https://img.freepik.com/free-photo/smiley-woman-showing-sticker-arm-after-getting-vaccine_23-2149014463.jpg?w=740&t=st=1688154562~exp=1688155162~hmac=5c67a3ed1250837dcb60c735968f8133197c9663f1edebef7bea41f1fbba17e6"
      />
      <div class="sidebar">
        <div class="sidebar-card">
          <img
            src="https://img.freepik.com/free-photo/smiley-woman-showing-sticker-arm-after-getting-vaccine_23-2149014463.jpg?w=740&t=st=1688154562~exp=1688155162~hmac=5c67a3ed1250837dcb60c735968f8133197c9663f1edebef7bea41f1fbba17e6"
          />
          <div class="profile-info">
            <p class="username">#UserNumberOne</p>
            <p class="stat">50 <span>Likes</span></p>
          </div>
        </div>
        <p class="price">R$ 5,95</p>
        <div class="actions">
          <button class="btn">Like</button>
          <button class="btn">Follow</button>
        </div>
        <button class="buy-btn">Buy</button>
      </div>
    </div>
    <script src="../scripts/index.js"></script>
  </body>
</html>
