<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
  </head>

  <body>
    <main>
      <div class="buttons">
        <button class="menu_b">
          <img src="./rising.svg" alt="rising" />Rising
        </button>
        <a href="/categorias" class="menu_b">
          <img src="./categories.svg" alt="rising" />Categories
        </a>
      </div>

      <div class="grid-container">
        <% for (var i = 0; i < imageData.length; i++) { %>
        <div class="grid-item">
          <img
            src="<%= imageData[i].imageSrc %>"
            alt="<%= imageData[i].altText %>"
            class="image"
          />
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
