<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
  </head>

  <body>
    <main>
      <%- include('../components/CategoriesBtn') %>

      <div class="pagination">
        <button onclick="changePage(1)">1</button>
        <button onclick="changePage(2)">2</button>
        <button onclick="changePage(3)">3</button>
        <!-- Adicione os botões das páginas conforme necessário -->
      </div>

      <div class="grid-container">
        <% if (imageData && Array.isArray(imageData)) { %> <% for (var i = 0; i
        < imageData.length; i++) { %>
        <div class="grid-item">
          <img
            src="<%= imageData[i].imageSrc %>"
            alt="<%= imageData[i].altText %>"
            class="image"
          />
        </div>
        <% } %> <% } else { %> <%- include('../components/Loading') %> <% } %>
      </div>
    </main>

    <script src="../scripts/index.js"></script>
  </body>
</html>
