<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UFC - Web</title>
    <link rel="stylesheet" type="text/css" href="./styles/login.css" />
    <link rel="stylesheet" type="text/css" href="./styles/login-box.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('../components/LoginHeader') %>

    <main>
      <div class="wrapper">
        <div class="form-login">
          <div class="login_screen">
            <h2>Login</h2>
            <nav class="new_user">
              <label><br />New to Untitled ?</label>
              <a href="/register">Sign up for free</a>
            </nav>

            <form action="/request/user" method="POST">
              <div class="input-box">
                <input type="text" required />
                <label>Email</label>
              </div>

              <div class="input-box">
                <input type="password" required />
                <label>Password</label>
              </div>
              <button type="submit" class="login_btn">Login</button>
            </form>
          </div>
        </div>
      </div>
      <img class="background_img" src="./images/background-login.png" />
    </main>

    <script src="../scripts/login.js"></script>
  </body>
</html>
