<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/search.css" />
  </head>

  <body>
    <main>

        <div class="buttons">

            <button class="menu_b">
                <img src="../icons/rising.svg" alt="rising" />Rising
            </button>

            <button class="menu_b">
                <img src="../icons/categories.svg" alt="rising" />Categories
            </button>

            <!-- <label >"Searched File"</label> -->
        </div>

        <div class="Type">

            <label id ="rotulo" >Users</label>

            <div class="grid-container">

                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                    <!-- <span class="categorie-name">Wallpapers</span> -->
                </div>

                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                <!-- <span class="categorie-name">Photos</span> -->
                </div>
                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                <!-- <span class="categorie-name">Design</span> -->
                </div>

            </div>

        </div>
        

        <div class="Type">

            <label>Images</label>

            <div class="grid-container">
                
                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                    <!-- <span class="categorie-name">Wallpapers</span> -->
                </div>

                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                    <!-- <span class="categorie-name">Photos</span> -->
                </div>

                <div class="grid-item">
                    <div class="grid-image">
                        <img src="../images/test-image.jpg" alt="image" class="image" />
                    </div>
                    <!-- <span class="categorie-name">Design</span> -->
                </div>

            </div>

        </div>
        

    </main>
  </body>
</html>
