<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./styles/search.css" />
  </head>

  <body>
    <main id="back">
      <%- include('../components/CategoriesBtn') %>

      <div class="Type">
        <label id="rotulo">Images</label>

        <div class="grid-container">
          <div class="grid-item">
            <div class="grid-image">
              <img src="../images/test-image.jpg" alt="image" class="image" />
            </div>
            <!-- <span class="categorie-name">Wallpapers</span> -->
          </div>

          <div class="grid-item">
            <div class="grid-image">
              <img src="../images/test-image.jpg" alt="image" class="image" />
            </div>
            <!-- <span class="categorie-name">Photos</span> -->
          </div>
          <div class="grid-item">
            <div class="grid-image">
              <img src="../images/test-image.jpg" alt="image" class="image" />
            </div>
            <!-- <span class="categorie-name">Design</span> -->
          </div>
        </div>
      </div>
    </main>

    <script src="../scripts/search.js"></script>
  </body>
</html>
