@import url("global.css");


.buttons { 
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .menu_b {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--button-color) ;
    color: var(--slate-light-1);
    font-weight: bold;
    font-size : var(--font-size) ;
    /* 15px; */
    margin-right: 20px;
    text-decoration-line: none;
  }
  
  .menu_b:hover {
    background-color: var(--button-color-press) ;
  }