:root {
  --dark-purple: #140726;
  --navy-blue: #1b0273;
  --royal-blue: #3866f2;
  --celestial-blue: #0597f2;
  --vivid-sky-blue: #05c7f2;

  --slate-light-1: #fbfcfd;
  --slate-light-2: #f8f9fa;
  --slate-light-3: #f1f3f5;
  --slate-light-4: #eceef0;
  --slate-light-5: #e6e8eb;
  --slate-light-6: #dfe3e6;
  --slate-light-7: #d7dbdf;
  --slate-light-8: #c1c8cd;
  --slate-light-9: #889096;
  --slate-light-10: #7e868c;
  --slate-light-11: #687076;
  --slate-light-12: #11181c;

  --slate-dark-1: #151718;
  --slate-dark-2: #1a1d1e;
  --slate-dark-3: #202425;
  --slate-dark-4: #26292b;
  --slate-dark-5: #2b2f31;
  --slate-dark-6: #313538;
  --slate-dark-7: #3a3f42;
  --slate-dark-8: #4c5155;
  --slate-dark-9: #697177;
  --slate-dark-10: #787f85;
  --slate-dark-11: #9ba1a6;
  --slate-dark-12: #ecedee;

  --button-color : rgba(167, 173, 198, 0.15);
  --button-color-press :rgba(167, 173, 198, 0.4);

  --font-size : 15px;
}

html.light:root{

  /* --slate-light-7: var(--slate-dark-7) ; */
  --slate-dark-3 : var(--slate-light-11);
  --button-color : var(--slate-dark-7) ;
}
size_btn.A1:root{
  --font-size : 25px;
}
html.A2:root{
  --font-size : 35px;
}
html.A3:root{
  --font-size : 45px;
}
html.A4:root{
  --font-size : 55px;
}

html,
body {
  margin: 0;
  padding: 0;
}
