.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.pagination button.active {
  background-color: var(--slate-light-1);
  color: var(--slate-dark-3);
}

.grid-container {
  --minWidth: 258px;
  --gap: 30px;

  --maxWidth: 1180px;
  --paddingX: 60px;

  width: min(100% - var(--paddingX), var(--maxWidth));
  margin: 0 auto;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--minWidth)), 1fr)
  );
}

.grid-item {
  overflow: hidden;
  transition: all;
  transition-duration: 100ms;
  border-radius: 8px;
  max-height: 310px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 2;
}

.grid-item:hover {
  transform: scale(110%);
}
