.buttons-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--button-color);
  color: var(--slate-light-1);
  padding: 8px 16px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
}
.btn:hover {
  background-color: var(--button-color-press);
}

.profile-cards {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
  margin-top: 30px;
}

@media (min-width: 720px) {
  .profile-cards {
    grid-template-columns: 1fr 2fr;
  }
}

.profile-card {
  padding: 20px;
  background-color: var(--dark-purple);
  color: var(--slate-light-1);
  border-radius: 8px;
}
.profile-card-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.profile-image {
  width: 176px;
  height: 196px;
  object-fit: cover;
  border-radius: 8px;
}
.profile-card-left > p {
  font-size: 24px;
  font-weight: 700;
}
.profile-stats {
  --min: 8ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: 100%;
}
.profile-stats > * {
  flex: 1 1 var(--min);
}
.profile-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.profile-stat-label {
  color: #9ba1a6;
}

.profile-card-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.price {
  font-size: 36px;
}
.description {
  font-size: 20px;
}

.profile-socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social {
  display: flex;
  gap: 12px;
  align-items: center;
}

.grid-container {
  --minWidth: 258px;
  --gap: 30px;

  --maxWidth: 1180px;
  --paddingX: 60px;

  width: min(100% - var(--paddingX), var(--maxWidth));
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--minWidth)), 1fr)
  );
}

.grid-item {
  overflow: hidden;
  transition: all;
  transition-duration: 100ms;
  border-radius: 8px;
  max-height: 310px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 2;
}

.grid-item:hover {
  transform: scale(110%);
}

/* 
.profile-div {
  width: 100%;
  align-items: start;
  justify-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
  color: var(--slate-light-1);
}

.user-div {
  background-color: var(--dark-purple);
  width: 20%;
  margin-left: 15%;
  margin-right: 5%;
  border-radius: 8px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.username {
  font-weight: bold;
  font-size: var(--font-user-name-size);
  32px;
  xx-large;
}

.details-div {
  background-color: var(--dark-purple);
  width: 50%;
  margin-right: 15%;
  border-radius: 8px;
  align-items: start;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;

  font-size: var(--header-font-size);
}

.image-user {
  width: 100px;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
}

main {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--slate-dark-3);
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.menu_b {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--button-color) ;
   rgba(167, 173, 198, 0.15);
  color: var(--slate-light-1);
  font-weight: bold;
  font-size: var(--font-size);
  margin-right: 20px;
}

.menu_b:hover {
  background-color: var(--button-color-press)
  rgba(167, 173, 198, 0.4);
}

.grid-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 200px;
  gap: 30px;
}

.grid-item {
  width: 250px;
  height: 300px;
  overflow: hidden;
  transition: all;
  transition-duration: 100ms;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: left center;
}

.grid-item:hover {
  transform: scale(110%);
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 150px;
    padding-top: 5%;
  }

  .buttons {
    margin-right: 55%;
    justify-content: left;
  }

  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  main {
    padding-top: 250px;
  }

  .buttons {
    justify-content: center;
  }

  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
 */
